body {
    margin: 0;
    font-family: 'Merriweather', serif;
}
.minion {
    width: 300px;
    height: 250px;
}
.profile {
    width: 25%;
    margin: auto;
    text-align: center;
    line-height: 2;
}
.books {
    width: 250px;
    height: 250px;
    padding-left: 350px;
}
.education {
    width: 75%;
    margin: auto;
}
.padhai {
    text-align: left;
    line-height: 2;
}
.Work {
    width: 75%;
    margin: auto;
    
}
.skill-image {
    width: 250px;
    height: 300px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.skills {
    margin: auto;
}
.soft-skills {
    padding-left: 290px;
    padding-top: 110px;
    float: left;
    line-height: 2;
}
.tech-skills {
    float: right;
    padding-right: 250px;
    padding-top: 50px;
    line-height: 2;
}
.project {
    width: 75%;
    margin: auto;
    line-height: 2;
}
.lang {
    width: 75%;
    margin: auto;
    line-height: 2;
    padding-left: 80px;
}
.interests {
    width: 75%;
    margin: auto;
    line-height: 2;
}
.extra {
    width: 75%;
    margin: auto;
    line-height: 2;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h3 {
    padding-left: 150px;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
.title {
    font-size: 2.5rem;
}
h2 {
    text-align: center;
    color: #66BFBF;
    font-weight: normal;
}
.heading {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 20px;
    padding-left: 350px;
    border-width: 0;
}
.cloud_1 {
    width: 250px;
    height: 250px;
    position: relative;
    left: 450px;
}
.cloud_2 {
    width: 250px;
    height: 250px;
    position: relative;
    right: 140px;
}
hr {
    width: 3%;
    border: 5px #5d6161;
    border-style: dotted none none none;
}
.bottom-container {
    background-color: #229f9f;
}
.h {
    padding-left: 570px;
}
.footer-link {
   padding-left: 500px;
}
.g {
    padding-left: 120px;
}
.e {
    padding-left: 480px;
}
.end{
    padding-left: 570px;
}